.ey-progress {
  height: 16px;
  border: 1px solid #ccc;
  background-color: #fff;
  width: 320px;
  border-radius: 15px;
  padding: 1px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  &__bar {
    border-radius: 15px;
    height: 100%;
  }
  &__percent {
    margin-left: 5px;
    font-size: 12px;
    color: #333;
  }
}