.ey-progress__wrapper {
  display: flex;
  align-items: center;
  gap: 5px;
  .ey-progress {
    height: 12px;
    border: 1px solid #ccc;
    background-color: #fff;
    width: 320px;
    border-radius: 15px;
    padding: 1px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    &__bar {
      border-radius: 15px;
      height: 100%;
      transition: width 0.2s ease;
    }
  }
  .ey-progress__percent {
    font-size: 12px;
    color: var(--ey-color-default);
  }
}