.ey-modal {
  position: absolute;
  background-color: var(--ey-bg-color);
  border-radius: 10px;
  color: var( --ey-color-default);
  padding: 10px;
  height: fit-content;
  header {
    border-bottom: 1px solid var(--ey-border-color);
    padding-bottom: 5px;
    padding-top: 5px;
    margin-bottom: 10px;
    
    h2 {
      margin: 0;
      padding: 0;
      font-size: 18px;
      font-weight: 600;
      color: var(--ey-text-color-primary);
      line-height: 1.5;
    }
  }
}

.ey-modal--default {
  height: fit-content;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  &__small {
    width: 300px;
  }
  &__default {
    width: 500px;
  }
  &__large {
    width: 700px;
  }
}


.ey-modal--fullscreen {
  width: 100%;
  height: 100%;
  border-radius: 0;
  top: 0;
  left: 0;
}