.ey-tree-selection {
  display: flex;
  flex-direction: column;
  width: 320px;
  min-height: 400px;
  .ey-tree-selection__root {
    border-bottom: 1px solid hsl(0, 0%, 40%);
    height: 30px;
    line-height: 30px;
    display: flex;
    justify-content: space-between;
    label {
      display: flex;
      align-items: center;
      gap: 4px;
      font-size: 16px;
      cursor: pointer;
    }
  }
  .ey-tree-selection__tree {
    margin-left: 20px;
  }
  .ey-tree-selection-leaf-node {
    display: flex;
    align-items: center;
    gap: 4px;
    cursor: pointer;
    user-select: none;
    border-bottom: 1px solid hsl(0, 0%, 40%);
    height: 30px;
    line-height: 30px;
  }
  .ey-tree-selection-tree-node {
    display: flex;
    flex-direction: column;
    user-select: none;
    
    &__header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      user-select: none;
      border-bottom: 1px solid hsl(0, 0%, 40%);
      height: 30px;
      line-height: 30px;
      label {
        display: flex;
        align-items: center;
        gap: 4px;
        font-size: 15px;
        cursor: pointer;
        width: 90%;
      }
    }
    &__content {
      display: flex;
      flex-direction: column;
      gap: 4px;
    }
  }
}
